.intro {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 155px;
    padding-bottom: 335px;
    overflow-x: hidden;
    background-repeat: no-repeat;
    background-position: center;
    mask-image: url("../img/mask-main.png");
    mask-size: 1366px;
    mask-position: center;
    mask-repeat: no-repeat;

    &:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        z-index: -2;
        width: 100%;
        height: 906px;
        background-image: url("../img/main-bg-desktop.png");
        background-position: center;
    }

    &:after {
        content: "";
        position: absolute;
        top: 155px;
        z-index: -1;
        width: 381px;
        height: 609px;
        background-image: url("../img/photo_girl-desktop.png");
        background-position: center;

    }
}

.intro span {
    position: relative;
    z-index: -2;
    display: block;
    padding-bottom: 2%;
    color: transparent;
    font-family: 'Raleway',sans-serif, 'PT Sans';
    font-weight: 900;
    font-size: calc(9.5em + 4vw);
    line-height: 1.8;
    letter-spacing: 1rem;
    text-transform: uppercase;
    background-image: url("../img/Pic_overlay-desktop.png");
    background-repeat: no-repeat;
    background-position: 1px 92px;
    background-size: contain;
    background-clip: text;
}

.intro p {
    position: relative;
    width: 343px;
    margin: 0;
    color: $white;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.2;
    text-align: center;

    &:before {
        position: absolute;
        top: 159px;
        left: 51%;
        width: 1px;
        height: 50px;
        background-color: #ffffff;
        content: "";

    }

    &:after {
        content: url("../img/mouse.svg");
        position: absolute;
        top: 74px;
        left: 36%;
        z-index: 5;
        width: 54px;
        height: 54px;
    }
}


