.intro {
    position: relative;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    padding-top: 252px;
    padding-bottom: 290px;
    overflow: hidden;
    transform: translate(-50%);

    &:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        z-index: -2;
        width: 100%;
        height: 906px;
        background-image: url("../img/main-bg-desktop.png");
        background-repeat: no-repeat;
        background-position: top center;
        background-size: 100vw 880px;

        @media (max-width: 1366px) {
            background-size: 1366px 880px;
        }


        @media (min-resolution: $retina-dpi),
            (min-resolution: $retina-dppx) {
            background-image: url("../img/main-bg-desktop@2x.png");
        }

        @media (max-width: 460px) {
            width: 460px;
            height: 535px;
            background-image: url("../img/main-bg-mobile.png");

            background-size: 460px 535px;

            @media (min-resolution: $retina-dpi),
                (min-resolution: $retina-dppx) {
                background-image: url("../img/main-bg-mobile@2x.png")
            }
        }
    }

    &:after {
        content: "";
        position: absolute;
        top: 155px;
        z-index: -1;
        width: 381px;
        height: 609px;
        background-image: url("../img/photo_girl-desktop.png");
        background-position: center;
        background-size: contain;
        mask-image: url("../img/mask-main.png");
        mask-size: 1366px;
        mask-position: center;
        mask-repeat: no-repeat;

        @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
            background-image: url("../img/photo_girl-desktop@2x.png")
        }

        @media (max-width: 460px) {
            width: 240px;
            height: 383px;
            background-image: url("../img/photo_girl-mobile.png");
            mask-size: 830px;
            mask-position: center;

            @media (min-resolution: $retina-dpi),
                (min-resolution: $retina-dppx) {
                background-image: url("../img/photo_girl-mobile@2x.png")
            }
        }
    }

    @media (max-width: 460px) {
        padding-top: 200px;
        padding-bottom: 240px;
    }
}

.intro span {
    position: relative;
    z-index: -2;
    margin-bottom: 130px;
    color: rgba(0, 0, 0, 0);
    font-family: 'Raleway',sans-serif,'PT Sans';
    font-weight: 900;
    font-size: calc(9.5em + 4vw);
    line-height: 0.8;
    letter-spacing: 0.8rem;
    text-transform: uppercase;
    background-image: url(../img/Pic_overlay-desktop.png);
    background-position: 0 0;
    background-size: cover;
    -webkit-background-clip: text;
    background-clip: text;

    @media (max-width: $tabletWidth) {
        font-size: calc(8em + 4vw);
        letter-spacing: 0.3rem;
    }

    @media (max-width: 600px) {
        font-size: calc(6em + 4vw);
        letter-spacing: 0.2rem;
    }

    @media (max-width: 460px) {
        margin-bottom: 76px;
        font-size: calc(4em + 4vw);
        letter-spacing: 0.1rem;
    }
}

.intro p {
    position: relative;
    width: 343px;
    margin: 0;
    color: $white;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.2;
    text-align: center;

    &:before {
        content: "";
        position: absolute;
        top: 159px;
        left: 51%;
        width: 1px;
        height: 130px;
        background-color: #ffffff;
    }

    &:after {
        content: url("../img/mouse.svg");
        position: absolute;
        top: 74px;
        left: 36%;
        z-index: 5;
        width: 54px;
        height: 54px;
    }

    @media (max-width: $tabletWidth) {
        width: 90%;
        max-width: 320px;
        font-size: 1.25rem;

    }
}


