.issue {
    position: relative;
    font-weight: normal;
    font-size: 1.0625rem;
    text-align: left;

    &::before {
        content: counter(list);
        position: absolute;
        top: -5px;
        width: 20px;
        height: 50px;
        font-style: normal;
        font-weight: bold;
        font-size: 1.75rem;
        background: linear-gradient(95.15deg, #FFC341 20.46%, #FFD701 65.31%);
        background-clip: text;
        counter-increment: list;
        -webkit-text-fill-color: transparent;
    }
}

.issue button {
    width: 75%;
    padding: 10px 25px;
    text-align: left;
    background: none;
    border: none;

    @media (max-width: $tabletWidth) {
        width: 97%;
        font-size: 1rem;
        line-height: 1.5;
    }

    &:hover,
    &:focus {
        outline: 0;
        opacity: 0.6;
    }
}

.issue svg {
    position: absolute;
    top: 17px;
    right: 37px;

    @media (max-width: $tabletWidth) {
        right: 0;
    }
}

.issue + div {
    width: 93%;
    margin-top: -42px;
    margin-bottom: 57px;
    font-size: .9375rem;
    line-height: 1.5;
    text-align: left;
    opacity: .74;

    @media (max-width: $tabletWidth) {
        margin-top: -22px;
        font-size: 0.875rem;
    }
}

[aria-expanded="true"] svg {
    transform: rotate(180deg);
}
