// стили для вкладок
.item {
    position: relative;
    width: min-content;
    padding-left: 75px;
    font-weight: normal;

    &:hover {
        color: transparent;
        background-image: linear-gradient(132.19deg, $darken-yellow 20.46%, $yellow 65.31%);
        background-clip: text;

        .item__pic {
            &--general {
                background-image: url("../img/1_g.png");
            }
            &--academ {
                background-image: url("../img/2_g.png");
            }
            &--train {
                background-image: url("../img/3_g.png");
            }
            &--volunteer {
                background-image: url("../img/4_g.png");
            }
            &--religion {
                background-image: url("../img/5_g.png");
            }
        }
    }

    @media (max-width: 870px) {
        width: max-content;
        padding: 11px 12px 10px 52px;
    }
}

.item__pic {
    position: relative;
    width: 36px;
    height: 36px;
    background-repeat: no-repeat;
    background-position: center top;
}



.item__pic {
    position: absolute;
    top: -7px;
    left: 25px;

    &--general {
        background-image: url("../img/noun_1240873_cc.png");
    }
    &--academ {
        background-image: url("../img/noun_582688_cc.png");
    }
    &--train {
        background-image: url("../img/noun_655316_cc.png");
    }
    &--volunteer {
        background-image: url("../img/noun_689837_cc.png");
    }
    &--religion {
        background-image: url("../img/noun_836000_cc.png");
    }
}

// стили для активной вкладки
.item--current {
    position: relative;

    color: $white;
    font-variant: small-caps;
    text-transform: uppercase;

    .item__pic {
        position: absolute;
        top: -7px;
        left: 25px;

        &--general {
            background-image: url("../img/1_w.png");
        }
        &--academ {
            background-image: url("../img/noun_582688_cc-1.png");
        }
        &--train {
            background-image: url("../img/3_w.png");
        }
        &--volunteer {
            background-image: url("../img/4_w.png");
        }
        &--religion {
            background-image: url("../img/5_w.png");
        }

    }

    &:hover {
        color: $white;

        .item__pic {


            &--general {
                background-image: url("../img/1_w.png");
            }
            &--academ {
                background-image: url("../img/noun_582688_cc-1.png");
            }
            &--train {
                background-image: url("../img/3_w.png");
            }
            &--volunteer {
                background-image: url("../img/4_w.png");
            }
            &--religion {
                background-image: url("../img/5_w.png");
            }

        }
    }


    @media (max-width: 870px) {
        width: max-width;
        width: max-content;
        background-image: linear-gradient(154.39deg, $darken-yellow 20.46%, $yellow 65.31%);
        border-radius: 80px;
    }
}







