.live {
    width: 100%;
    margin-top: -195px;
    padding: 0 $padding-m 60px;
    background-color: transparent;
    background-image: url(../img/live-bg-desktop.png), url(../img/live-watch-desktop.png);
    background-repeat: no-repeat;
    background-position: 0 -33px, right 630px;
    background-size:  1366px 950px, 93px 148px;

    @media (max-width: 1130px) {
        background-image: none;
    }

    @media (max-width: 768px) {
        margin: 0;
        padding: 30px $mobilePadding 41px;
    }
}

.live h2 {
    margin-bottom: 15px;
    text-align: center;

    @media (max-width: 768px) {
        width: 90%;
        margin: 0 auto 20px;
        line-height: 1.4;
        letter-spacing: -0.02em;
    }
}

.live p {
    width: 62%;
    margin: 0 auto 45px;
    color: $black;
    font-family: "Fira Sans", sans-serif, "PT Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 1.0625rem;
    text-align: right;
    opacity: 0.87;

    @media (max-width: 1130px) {
        width: 90%;
        text-align: center;
    }

    @media (max-width: 768px) {
        width: 100%;
        margin: 0 auto 23px;
        font-size: 1rem;
        line-height: 1.6;
        text-align: left;
    }
}

.live .swiper-container {
    padding-bottom: 45px;
}

.live .swiper-wrapper {
    height: 400px;
}

// .live .swiper-slide {
//     width: 400px;
// }
