.order {
    position: relative;
    width: max-content;
    padding: 3px 0 0 0;
    color: $black;
    font-family: "Fira", sans-serif, "PT Sans";
    font-weight: 500;
    font-size: 1.037rem;
    font-variant: small-caps;
    background-color: transparent;
    border: none;

    &:after {
        position: absolute;
        bottom: 12px;
        left: 0;
        width: 100%;
        height: 2px;
        border-bottom: 2px dashed $black;
        content: '';
    }

    @media (max-width: $tabletWidth) {
        font-size: 0.875rem;

        &:after {
            bottom: 0;
        }
    }

    &:hover,
    &:focus {
        opacity: 0.6;
    }

    &:active {
        opacity: 0.3;
    }
}
