.page-wrapper {
    margin: 0 auto;
    padding-right: $mobilePadding;
    padding-left: $mobilePadding;
    overflow: hidden;

    @media (min-width: $tabletWidth) {
        position: relative;
        padding-right: $tabletPadding;
        padding-left: $tabletPadding;
    }

    @media (min-width: $desktopWidth) {
        padding-right: $desktopPadding;
        padding-left: $desktopPadding;
    }
}
