.programms {
    padding: 115px $padding-l;
    background-image: url("../img/programs-bg-desktop.png");
    background-repeat: no-repeat;
    background-position: right 93px;
    background-size: 680px 426px;
}
