.questions {
    padding: 60px 110px;
    background-image: url(../img/question-bg-desktop.png);
    background-repeat: no-repeat;
    background-size: 1366px 1119px;
    counter-reset: list;
}

.questions h2 {
    margin-bottom: 30px;
}

.questions h6 {
    margin: 0 0 58px;
}




