.tabs {
    display: grid;
    padding-top: 33px;
    grid-template-columns: max-content 1fr;
    grid-column-gap: 7%;

    @media (max-width: 870px) {
        padding-top: 5px;

        grid-template-columns: unset;
    }
}

.tabs h3 {
    margin: 0 0 20px;
    color: $blue;
    font-size: 1.75rem;
    letter-spacing: 0.1em;

    @media (max-width: 870px) {
        font-size: 1.5rem;
        line-height: 1.2;
    }
}

.tabs p {
    width: 85%;
    margin: 0;

    &:not(:last-child) {
        margin-bottom: 15px;
    }

    @media (max-width: 870px) {
        width: 100%;
        font-size: 0.875rem;
        line-height: 1.5;
    }
}



.tabs ul {
    margin: 0;
    padding: 0;
    font-family: "Fira", sans-serif, "PT Sans";
    font-size: 0.9375rem;
    list-style: none;

    @media (max-width: 870px) {
        display: flex;
        width: 100%;
        margin-bottom: 25px;
        overflow-x: scroll;
        font-size: 0.875rem;
    }
}

.tabs li:not(:last-child) {
    margin-bottom: 8px;
    @media (max-width: 870px) {
        margin-bottom: 0;
    }
}

.tabs section {
    padding-top: 10px;
}

стили для панели с вкладками
[role="tablist"] li {
    display: flex;
}

// стили для вкладок
[role="tablist"] a {
    position: relative;
    width: 228px;
    margin: 0;
    padding: 20px 41px 20px 72px;
    font-weight: normal;

    @media (max-width: 870px) {
        width: max-content;
        padding: 11px 12px 10px 52px;
    }
}

// стили для активной вкладки
[role="tablist"] [aria-selected] {
    color: $white;
    font-variant: small-caps;
    text-transform: uppercase;
    background-image: linear-gradient(-49deg, $white 10%, transparent 10%),linear-gradient(-131deg, $white 10%, transparent 10%),linear-gradient(154.39deg, $darken-yellow 20.46%, $yellow 65.31%);

    &:focus {
        outline: none;
    }

    @media (max-width: 870px) {
        width: max-width;
        width: max-content;
        background-image: linear-gradient(154.39deg, $darken-yellow 20.46%, $yellow 65.31%);
        border-radius: 80px;

    }
}

// [role="tabpanel"] {
//     padding: 1.5rem;
//     border: 2px solid;
// }

// [role="tabpanel"] * + * {
//     margin-top: 0.75rem;
// }


@media (max-width: 870px) {









    // [role="tablist"] li, [role="tablist"] a {
    //     position: static;
    //     display: block;
    // }

    // [role="tablist"] a {
    //     border: 2px solid #222 !important;
    // }

    // [role="tablist"] li + li a {
    //     border-top: 0 !important;
    // }

    // [role="tablist"] [aria-selected] {
    //     position: static;
    // }

    // [role="tablist"] [aria-selected]::after {
    //     content: '\0020⬅';
    // }

    // [role="tabpanel"] {
    //     border-top: 0;
    // }
}

