@font-face {
  font-family: "Fira";
  src: url("../fonts/fira-sans-v10-latin_cyrillic-regular.woff2") format("woff2"),
    url("../fonts/fira-sans-v10-latin_cyrillic-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fira";
  src: url("../fonts/fira-sans-v10-latin_cyrillic-800.woff2") format("woff2"),
    url("../fonts/fira-sans-v10-latin_cyrillic-800.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fira";
  src: url("../fonts/fira-sans-v10-latin_cyrillic-500.woff2") format("woff2"),
    url("../fonts/fira-sans-v10-latin_cyrillic-500.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat-v14-cyrillic-regular.woff2") format("woff2"),
    url("../fonts/montserrat-v14-cyrillic-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat-v14-cyrillic-700.woff2") format("woff2"),
    url("../fonts/montserrat-v14-cyrillic-700.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Black.woff2") format("woff2"),
    url("../fonts/Raleway-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Bold.woff2") format("woff2"),
    url("../fonts/Raleway-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-ExtraBold.woff2") format("woff2"),
    url("../fonts/Raleway-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}




